*.ipynb linguist-detectable=false
```[[3](https://www.google.com/url?sa=E&q=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fgrounding-api-redirect%2FAUZIYQGPw37GAhgsliC6Z3zhwJjTB2MXgid4yXzPLG2B8O7LMeALfDT9FxUT_FUa3IbyXaTNY3keyFTK8pn8x1_D4JNkhAX3jC2UrbmB9VEX7qZ9BULgYN_TJybgbDHvLdQmYEyIg9sWolrLbfRgrfH4pXUASF_RLatmoNHeu3lf0aTyLFFLAUciWCF1Vm4vv3EKhGtg)]
